html, body {
    height: 100%;
    background-color: #ffffff;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}






/*! HEADER PAGE CSS */
#homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    padding: 1.5rem 5rem;
    background-color: #2C3E50;
}

#homeHeader a:link,
#homeHeader a:visited,
#homeHeader a:hover,
#homeHeader a:active {
    color: #ffffff;
    text-decoration: none; /* Remove underline */
}

#homeHeader button {
    background-color: #2563EB;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3.5vw;
    cursor: pointer;
    font-weight: bold;
}

nav li {
    list-style-type: none;
}

/* LOGIN AND SIGN UP BUTTONS */
nav li a:first-child {
    background-color: #2563EB;
    border-radius: 10px;
}

nav li a:first-child:hover {
    background-color: #1E40AF;
}

nav li a:nth-child(2) {
    border: #2563EB 1px solid;
    border-radius: 10px;
}

nav li a:nth-child(2):hover {
    border-color: #1E40AF;
}

nav a {
    padding: 0.5rem 3.5vw;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

/* nav a:hover {
    border-bottom: black solid 1px;
} */


/*! MAIN CSS */

/*! FOOTER CSS */
footer {
    padding: 1.5rem 5rem;
    background-color: #2C3E50;
    color: #ffffff;
    font-size: 10px;
}

/*! INDEX PAGE CSS */
#indexBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 130px;
}

#genre a {
    display: inline-block;
    padding: 12px; /* Slightly larger padding */
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#genre a:hover {
    border-color: #1E40AF; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

#genre img {
    width: 40px;
    display: block;
}


#searchMovie {
    display: flex;
    height: 170px;
    padding: 3rem;
    justify-content: center;
    /* margin-top: 50px; */
}

#searchMovie input {
    width: 35%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid grey;
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

#searchMovie button {
    width: 60px;
    height: 50px;
    background-color: #2563EB;
    border: 1px solid #2563EB;
    border-left: none;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

#searchMovie img {
    width: 25px;
}

/* #popMovies {
    text-align: center;
    padding-top: 3%;
}

#popMovies ul {
    padding: 0;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
}

#popMovies ul li {
    margin: 1rem;
    border: black solid 1px;
    border-radius: 10px;
    padding: 0.5rem;
} */

/*! LOGIN PAGE CSS */
#loginBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#loginMain {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginSection {
    /* height: 75vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    /* border: black 1px solid; */
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    /* padding: 20px; */
    /* border-radius: 10px; */
    flex-grow: 1;
}

#login p {
    text-align: center;
}

#login label {
    padding-top: 2rem;
}

#login input {
    height: 40px;
}

#login button {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

#loginSubmit {
    background-color: #2563EB;
    margin-bottom: 1rem;
    cursor: pointer;
}

#loginSubmit:hover {
    background-color: #1E40AF;
}

button#signup {
    color: black;
    border: #2563EB 1px solid;
    margin-top: 1rem;
    cursor: pointer;
    background-color: white
}

#login label {
    padding-bottom: 1rem;
    font-weight: bold;
}

/*! SIGNUP CSS */
#signup {
    flex-grow: 1;
}

#signupBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#signupMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupForm {
    display: flex;
    flex-direction: column;
    /* border: black 1px solid; */
    width: 25%;
    /* justify-self: center; */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

#signupForm label {
    padding-top: 2rem;
}

#signupForm input {
    height: 40px;
}

#signupForm button {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #2563EB;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

#signupForm button:hover {
    background-color: #1E40AF
}

#signupForm label {
    padding-bottom: 1rem;
    font-weight: bold;
}

/*! DASHBOARD CSS */
#dashBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#dashMain {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

#dashMain h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#watchlist ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* padding: 2rem; */
    text-align: center;
    /* border: black solid 1px; */
    padding: 0;
}

#watchHeading li {
    padding: 1rem;
}

/* #watchlist li:not(:first-child) {
    padding: 5rem;
} */

#watchlist ul li {
    border: black solid 1px;
}

/* #watchlist > ul:not(#watchHeading) {
    min-height: 100px;
} */

#watchlist > ul:not(#watchHeading) li {
    padding: 5rem;
}

#watchlist > ul:not(#watchHeading) #checkbox {
    padding: 5rem;
}

#checkbox {
    border: black solid 1px;
}

#review ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* padding: 0; */
    /* border: black solid 1px; */
    text-align: center;
}

#reviewHeading li{
    /* padding: 500px; */
    padding: 1rem;
}

#review > ul:not(#reviewHeading) li {
    padding: 5rem;
}

#review li {
    border: black solid 1px;
}

.card {
    padding: 4rem;
    border: black solid 1px;
    font-size: 23.5px;
}

.star {
/* font-size: 10vh; */
cursor: pointer;
}

.one {
color: rgb(255, 0, 0);
}

.two {
color: rgb(255, 106, 0);
}

.three {
color: #fccf00;
}

.four {
color: rgb(255, 255, 0);
}

.five {
color: rgb(24, 159, 14);
}