
/*! HEADER PAGE CSS */

* {
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

#homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    padding: 1.5rem 5rem;
    border-bottom: black solid 1px;
}

nav li {
    list-style-type: none;
}

nav li a:first-child {
    background-color: lightblue;
    border-radius: 10px;
}

nav li a:nth-child(2) {
    border: lightblue 1px solid;
    border-radius: 10px;
}

nav a {
    padding: 0.5rem 3.5vw;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

/* nav a:hover {
    border-bottom: black solid 1px;
} */










/*! FOOTER CSS */

footer {
    padding: 1.5rem 5rem;
    border: black solid 1px;
}













/*! INDEX PAGE CSS */

#indexBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

main {
    flex-grow: 1;
}

#genre {
    display: flex;
    /* padding-top: 5%;
    padding-bottom: 50px; */
    height: 133px;
    justify-content: center;
    align-items: center;
}

#searchMovie {
    display: flex;
    height: 170px;
    padding: 3rem;
    justify-content: center;
    /* margin-top: 50px; */
}

#searchMovie input {
    width: 35%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid grey;
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

#searchMovie button {
    width: 60px;
    height: 50px;
    background-color: grey;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

#searchMovie img {
    width: 25px;
}

#popMovies {
    text-align: center;
    padding-top: 3%;
}








/*! LOGIN PAGE CSS */

#loginBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#loginMain {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginSection {
    /* height: 75vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    /* border: black 1px solid; */
    width: 25%;
    /* justify-self: center; */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

#login p {
    text-align: center;
}

#login label {
    padding-top: 2rem;
}

#login input {
    height: 40px;
}

#login button {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}

#loginSubmit {
    background-color: green;
    margin-bottom: 1rem;
    cursor: pointer;
}

button#signup {
    color: black;
    margin-top: 1rem;
    cursor: pointer;
}






/*! SIGNUP CSS */

#signupBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#signupMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupForm {
    display: flex;
    flex-direction: column;
    /* border: black 1px solid; */
    width: 25%;
    /* justify-self: center; */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

#signupForm label {
    padding-top: 2rem;
}

#signupForm input {
    height: 40px;
}

#signupForm button {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: black;
}
